# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Config de sistema
.DS_Store

# Configuración del editor
.vscode/

# Archivos de log
*.log

# CSVs o datos generados
*.csv
